body {
  height: 1000px;
  /* height: 100%; */
  width: auto;
  display: flex;
  /* flex-wrap: nowrap; */
  /* flex-direction: row; */
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  margin: 0px;
  background-color: rgb(150, 150, 150);
  opacity: .5;
}

.container {
  /* height: auto;
  width: auto; */
  height: auto;
  width: auto;
  padding:  50px 50px;
  border: 5px solid black;
  background-color: rgb(255, 69, 44);
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border: 5px solid black;
  margin: 10px;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border: 5px solid black;
  margin: 10px;
}

.box2-1 {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 5px solid rgb(255, 69, 44);
  margin: 25px;
}

.box3 {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border: 5px solid black;
  margin: 10px;
}